Source: ksshaskpass
Section: utils
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake (>= 2.8.12~),
               debhelper (>= 9),
               extra-cmake-modules (>= 5.17.0~),
               kdoctools-dev (>= 5.17.0~),
               libkf5coreaddons-dev (>= 5.17.0~),
               libkf5i18n-dev (>= 5.17.0~),
               libkf5wallet-dev (>= 5.17.0~),
               libkf5widgetsaddons-dev (>= 5.17.0~),
               pkg-kde-tools (>= 0.15.16),
               qtbase5-dev (>= 5.4)
Standards-Version: 3.9.6
Homepage: https://projects.kde.org/projects/kde/workspace/ksshaskpass
Vcs-Browser: http://anonscm.debian.org/cgit/pkg-kde/plasma/ksshaskpass.git
Vcs-Git: git://anonscm.debian.org/pkg-kde/plasma/ksshaskpass.git

Package: ksshaskpass
Architecture: any
Depends: openssh-client, ${misc:Depends}, ${shlibs:Depends}
Recommends: kwalletmanager
Provides: ssh-askpass
Description: interactively prompt users for a passphrase for ssh-add
 A version of ssh-askpass with KWallet support.
